[submodule "Sphynx/dep/glfw"]
	path = Sphynx/dep/glfw
	url = https://github.com/glfw/glfw
[submodule "Sphynx/dep/spdlog"]
	path = Sphynx/dep/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sphynx/dep/imgui"]
	path = Sphynx/dep/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Sphynx/dep/glm"]
	path = Sphynx/dep/glm
	url = https://github.com/g-truc/glm.git
